{% extends "base.html" %}

{% block title %}Uploaders - Django App{% endblock %}

{% block content %}
<div class="h-screen flex">
    {% include 'modules/nav.html' %}
    <main class="h-full w-full overflow-y-scroll bg-white">
        <section class="max-w-screen-lg mx-auto pt-[4.5rem] pb-20 px-6 relative">
            {% if messages %}
            {% for message in messages %}
            {% if message.level == 25 %}
            <div id="message-notification" class="absolute top-0 left-0 mt-3 px-6 w-1/2">
                <div class="bg-teal-50 text-teal-700 font-[0.975rem] border border-teal-500 p-2.5 text-[0.95rem] tracking-[0.01rem] rounded">
                    <div class="flex items-center justify-between w-full">
                        <div class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-teal-600 w-5 h-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="9"></circle>
                                <path d="M9 12l2 2l4 -4"></path>
                            </svg>
                            <span>
                                {{ message }}
                            </span>
                        </div>
                        <button id="close_message">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-[1.125rem] w-[1.125rem] text-teal-600 hover:text-teal-800" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="flex items-center justify-between">
                <div class="flex items-center space-x-3">
                    <div class="bg-slate-100 inline-flex p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-slate-800 h-6 w-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1"></path>
                            <path d="M9 15l3 -3l3 3"></path>
                            <path d="M12 12l0 9"></path>
                        </svg>
                    </div>
                    <h1>
                        Uploaders
                    </h1>
                </div>
                <button id="add_user-open" class="btn btn-size-base btn-color-primary">
                    Add
                </button>
            </div>
            <div class="border-2 border-slate-100 rounded mt-6">
                <div class="flex w-full font-medium text-[0.9rem] text-slate-500 bg-slate-50 border-b-2 border-slate-100 py-1.5 px-3">
                    <div class="w-[25%] text-left table-header-cell">
                        Name
                    </div>
                    <div class="w-[23%] text-left table-header-cell">
                        Phone #
                    </div>
                    <div class="w-[17%] text-left table-header-cell"> 
                        Language
                    </div>
                    <div class="w-[15%] text-right table-header-cell">
                        Last Uploaded
                    </div>
                    <div class="w-[20%] text-right table-header-cell"></div>
                </div>
                {% if uploaders %}
                {% for uploader in uploaders %}
                <div class="py-3.5 px-3 text-slate-600 {% if not forloop.last %}border-b-2 border-slate-100{% endif %}">
                    <div class="flex items-center">
                        <div class="w-[25%] text-left table-body-cell">
                            <p class="text-[0.975rem]">
                                {{ uploader.name }}
                            </p>
                        </div>
                        <div class="w-[23%] text-left table-body-cell">
                            <p class="text-[0.975rem]">
                                {{ uploader.phone_display }}
                            </p>
                        </div>
                        <div class="w-[17%] text-left table-body-cell">
                            <p class="text-[0.975rem]">
                                {{ uploader.language }}
                            </p>
                        </div>
                        <div class="w-[15%] text-right table-body-cell">
                            <p class="text-[0.975rem]">
                                {{ uploader.last_uploaded_on }}
                            </p>
                        </div>
                        <div class="w-[20%] text-right table-body-cell relative">
                            <div class="pr-1.5 relative flex items-center justify-end" x-data="{ open: false }">
                                <button x-on:click="open = ! open" @click.outside="open = false">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="text-slate-400 hover:text-slate-500 w-5 h-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                                    </svg>
                                </button>
                                <div x-show="open">
                                    <div class="absolute top-0 right-0 z-10 mt-6 mr-1.5 bg-white rounded-md ring-1 ring-slate-800 ring-opacity-5 shadow overflow-y-scroll">
                                        <div class="relative grid gap-4 bg-white px-4 py-3">
                                            <button id="uploader-dropdown_{{ uploader.pk }}_edit" type="button" class="text-left -mx-3 -my-1.5 rounded px-2.5 py-1 text-[0.85rem] hover:bg-slate-100 hover:text-slate-700 text-slate-500 inline-flex items-center space-x-1.5">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="text-inherit w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                                    <path d="M16 5l3 3"></path>
                                                 </svg>
                                                <span>
                                                    Edit
                                                </span>
                                            </button>
                                            <button type="button" class="text-left -mx-3 -my-1.5 rounded px-2.5 py-1 text-[0.85rem] hover:bg-slate-100 hover:text-slate-700 text-slate-500 inline-flex items-center space-x-1.5">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="text-inherit w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4"></path>
                                                    <path d="M12 11l0 .01"></path>
                                                    <path d="M8 11l0 .01"></path>
                                                    <path d="M16 11l0 .01"></path>
                                                </svg>
                                                <span>
                                                    Resend Text
                                                </span>
                                            </button>
                                            <button type="button" id="uploader-delete_{{ uploader.pk }}" value="{{ uploader.name }}" class="text-left -mx-3 -my-1.5 rounded px-2.5 py-1 text-[0.85rem] hover:bg-red-50 text-red-400 inline-flex items-center space-x-1.5">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="text-inherit w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M4 7l16 0"></path>
                                                    <path d="M10 11l0 6"></path>
                                                    <path d="M14 11l0 6"></path>
                                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                                </svg>
                                                <span>
                                                    Delete
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="text-center py-8 text-slate-700">
                    There are no Uploaders!
                </p>
                {% endif %}
            </div>
        </section>
        <!----------------------------------->
        <!-- Modals -->
        <!----------------------------------->
        <div id="popup_bg" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"></div>
        <!-- Add User Modal -->
        <div id="add_user-popup" tabindex="-1" class="hidden overflow-visible fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-3/4 z-50">
            <div class="relative max-w-screen-sm h-auto">
                <div class="relative container-box rounded-md">
                    <div class="p-3">
                        <div class="absolute right-0 top-0 p-4">
                            <a href="{% url 'uploaders' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-slate-400 hover:text-slate-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </a>
                        </div>
                        <div>
                            <h3 class="text-3xl font-semibold text-slate-700 text-center">
                                Add Uploader
                            </h3>
                        </div>
                        <form method="post" id="add_user-form" class="form-box mt-6" autocomplete="off">
                            {% csrf_token %}
                            <div class="col-span-2">
                                <div class="flex flex-col input-spacing">
                                    <label for="{{ form.name.id_for_label }}" class="input-label">
                                        Name
                                    </label>
                                    <input type="text" name="name" id="name" value="" class="input-box {% if form.name.errors %}border-red-500{% else %}border-slate-200{% endif %}" required>
                                    {% if form.name.errors %}
                                    {% for error in form.name.errors %}
                                    <p id="name-error" class="input-error-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="input-error-svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 9v2m0 4v.01"></path>
                                            <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
                                        </svg>
                                        <span>
                                            {{ error }}
                                        </span>
                                    </p>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-span-1">
                                <div class="flex flex-col input-spacing">
                                    <label for="{{ form.phone.id_for_label }}" class="input-label">
                                        Phone Number
                                    </label>
                                    <input type="text" name="phone" id="phone" value="" class="input-box {% if form.phone.errors %}border-red-500{% else %}border-slate-200{% endif %}" placeholder="(555) 555-5555" required>
                                    {% if form.phone.errors %}
                                    {% for error in form.phone.errors %}
                                    <p id="phone-error" class="input-error-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="input-error-svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 9v2m0 4v.01"></path>
                                            <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
                                        </svg>
                                        <span>
                                            {{ error }}
                                        </span>
                                    </p>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-span-1" x-data="{ open: false }">
                                <div class="flex flex-col input-spacing relative">
                                    <label for="{{ form.language.id_for_label }}" class="input-label">
                                        Language
                                    </label>
                                    <div>
                                        <input type="text" id="language" name="language" class="hidden" value="English">
                                        <button x-on:click="open = ! open" @click.outside="open = false" type="button" id="language_button" name="language_button" class="input-box inline-flex items-center justify-between">
                                            <span id="language_value">
                                                English
                                            </span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 mt-0.5 text-slate-300" width="24px" height="24px" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="3.5">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                            </svg>
                                        </button>
                                        <div id="language_dropdown" x-show="open">
                                            <div class="absolute z-20 w-full mt-1 bg-white rounded-md ring-1 ring-slate-800 ring-opacity-5 shadow overflow-y-scroll">
                                                <div class="relative grid gap-7 bg-white p-4">
                                                    <button id="language-English" value="English" type="button" class="text-left -m-3 block rounded p-2.5 text-[0.95rem] hover:bg-slate-100 bg-slate-100">
                                                        English
                                                    </button>
                                                    <button id="language-Spanish" value="Spanish" type="button" class="text-left -m-3 block rounded p-2.5 text-[0.95rem] hover:bg-slate-100">
                                                        Spanish
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-span-2 mt-2 flex items-center justify-start">
                                <button type="submit" id="add_user-submit" disabled="true" class="btn btn-size-base btn-color-primary btn-disabled">
                                    <span>
                                        Add User
                                    </span>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="add_user-loading_svg" class="bg-transparent text-white h-5 w-5 ml-2 -mr-2 hidden" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                        <circle cx="50" cy="50" r="32" stroke-width="8" stroke="currentColor" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
                                            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1.5s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
                                        </circle>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete User Modal -->
        <div id="delete_user-popup" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-3/4 z-50">
            <div class="relative max-w-screen-md h-auto">
                <div class="relative container-box rounded-md">
                    <div class="p-3">
                        <div class="absolute right-0 top-0 p-4">
                            <a href="{% url 'uploaders' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-slate-400 hover:text-slate-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </a>
                        </div>
                        <div class="text-center">
                            <h3 class="text-2xl font-semibold text-slate-700">
                                Delete User
                            </h3>
                            <p class="mt-4 text-slate-500">
                                <span>Are you sure you would like to delete&nbsp;</span><span class="font-semibold text-slate-600" id="delete_user_email"></span><span>?</span>
                            </p>
                            <p class="mt-1.5 text-slate-500">
                                Deleted user data cannot be recovered.
                            </p>
                        </div>
                        <form method="post" id="delete_user-form" class="form-box mt-6" autocomplete="off">
                            {% csrf_token %}
                            <div class="hidden">
                                <input type="text" name="delete_uploader_id" id="delete_uploader_id" value="" required>
                            </div>
                            <div class="col-span-2 mt-2 flex items-center justify-center">
                                <button type="submit" id="delete_user-submit" class="btn btn-size-base btn-color-red">
                                    <span>
                                        Delete User
                                    </span>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="delete_user-loading_svg" class="bg-transparent text-white h-5 w-5 ml-2 -mr-2 hidden" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                        <circle cx="50" cy="50" r="32" stroke-width="8" stroke="currentColor" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
                                            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1.5s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
                                        </circle>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script nonce="{{request.csp_nonce}}">
    const getEl = id => document.getElementById(id);
    const popupBackground = getEl('popup_bg');
    /************************/
    /** FORM - Add User **/
    /************************/
    const addUserForm = getEl('add_user-form');
    const addUserPopup = getEl('add_user-popup');
    const addUserOpen = getEl('add_user-open');
    const addUserSubmit = getEl('add_user-submit');

    const name = getEl('name');
    const phone = getEl('phone');

    const languages = document.querySelectorAll("[id^='language-']");
    for (let i = 0; i < languages.length; i++) {
        languages[i].addEventListener('click', event => {
            const languageInput = getEl('language');
            const languageValue = getEl('language_value');

            const currentLanguageValue = languageValue.innerHTML;
            let currentLanguageButton = getEl('language-' + currentLanguageValue.trim());
            currentLanguageButton.classList.remove('bg-slate-100');

            const selectedLanguageValue = languages[i].value;
            let selectedLanguageButton = getEl('language-' + selectedLanguageValue);
            selectedLanguageButton.classList.add('bg-slate-100');

            languageValue.innerHTML = selectedLanguageValue;
            languageInput.value = selectedLanguageValue;
        });
    };

    addUserOpen.addEventListener('click', event => {
        popupBackground.classList.remove('hidden');
        addUserPopup.classList.remove('hidden');
    });

    addUserForm.addEventListener('submit', event => {
        addUserForm.removeEventListener('keyup', addUserFormKeyup);
        addUserSubmit.classList.add('btn-disabled');
        addUserSubmit.disabled = true;
        getEl('add_user-loading_svg').classList.remove('hidden');
    });

    {% if form.phone.errors %}
    popupBackground.classList.remove('hidden');
    addUserPopup.classList.remove('hidden');
    addUserSubmit.classList.remove('btn-disabled');
    addUserSubmit.disabled = false;

    getEl('phone').addEventListener('focus', function () {
        getEl('phone-error').classList.add('hidden');
        this.classList.remove('border-red-500');
        this.classList.add('border-slate-200');
    });

    {% endif %}

    addUserForm.addEventListener('keyup', addUserFormKeyup);
    function addUserFormKeyup(event) {
        console.log(name.value);
        if (name.value.length > 0 && phone.value.length === 14) {
            addUserSubmit.classList.remove('btn-disabled');
            addUserSubmit.disabled = false;
        } else {
            addUserSubmit.classList.add('btn-disabled');
            addUserSubmit.disabled = true;
        }
    };

    phone.addEventListener('input', event => {
        let input = phone.value;
        input = input.replace(/\D/g, '');
        var size = input.length;
        if (size > 0) { input = "(" + input }
        if (size > 3) { input = input.slice(0, 4) + ") " + input.slice(4, 11) }
        if (size > 6) { input = input.slice(0, 9) + "-" + input.slice(9) }
        phone.value = input;
    });

    /************************/
    /** FORM - Delete Uploader **/
    /************************/
    const deleteUserPopup = getEl('delete_user-popup');
    const deleteUserForm = getEl('delete_user-form');
    const deleteUserSubmit = getEl('delete_user-submit');
    const uploaderDelete = document.querySelectorAll("[id^='uploader-delete_']");

    for (let i = 0; i < uploaderDelete.length; i++) {
        uploaderDelete[i].addEventListener('click', event => {
            popupBackground.classList.remove('hidden');
            deleteUserPopup.classList.remove('hidden');

            const tempStr = uploaderDelete[i].id;
            const tempArray = tempStr.split('_', 2);

            getEl('delete_uploader_id').value = tempArray[1];
            getEl('delete_user_email').innerHTML = uploaderDelete[i].value;
        });
    };

    deleteUserForm.addEventListener('submit', event => {
        deleteUserSubmit.classList.add('btn-disabled');
        deleteUserSubmit.disabled = true;
        getEl('delete_user-loading_svg').classList.remove('hidden');
    });

    /************************/
    /** Message Notification **/
    /************************/
    {% if messages %}
    getEl('close_message').addEventListener('click', event => {
        getEl('message-notification').classList.add('hidden');
    });
    {% endif %}
</script>
{% endblock %}