{% extends "base.html" %}

{% block title %}Dashboard - Django App{% endblock %}

{% block content %}
<div class="h-screen flex">
    {% include 'modules/nav.html' %}
    <main class="h-full w-full overflow-y-scroll bg-white">
        <section class="max-w-screen-lg mx-auto pt-[4.5rem] pb-20 px-6 relative">
            {% if messages %}
            {% for message in messages %}
            {% if message.level == 25 %}
            <div id="message-notification" class="absolute top-0 left-0 mt-3 px-6 w-1/2">
                <div class="bg-teal-50 text-teal-700 font-[0.975rem] border border-teal-500 p-2.5 text-[0.95rem] tracking-[0.01rem] rounded">
                    <div class="flex items-center justify-between w-full">
                        <div class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-teal-600 w-5 h-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="9"></circle>
                                <path d="M9 12l2 2l4 -4"></path>
                            </svg>
                            <span>
                                {{ message }}
                            </span>
                        </div>
                        <button id="close_message">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-[1.125rem] w-[1.125rem] text-teal-600 hover:text-teal-800" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="pb-7 flex items-center space-x-3">
                <div class="bg-slate-100 inline-flex p-2 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-slate-800 h-6 w-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                </div>
                <h1>
                    Settings
                </h1>
            </div>
            <div class="nav-secondary-bar">
                <a href="{% url 'profile' %}" class="nav-secondary-link {% if 'profile' in request.path %}nav-secondary-link-active{% else %}nav-secondary-link-inactive{% endif %}">
                    Profile
                </a>
                <a href="{% url 'users' %}" class="nav-secondary-link {% if 'users' in request.path %}nav-secondary-link-active{% else %}nav-secondary-link-inactive{% endif %}">
                    Users
                </a>
                <a href="{% url 'billing' %}" class="nav-secondary-link {% if 'billing' in request.path %}nav-secondary-link-active{% else %}nav-secondary-link-inactive{% endif %}">
                    Billing
                </a>
            </div>
            <div class="flex items-start justify-between py-6 border-b-2 border-slate-100">
                <div class="flex items-start w-full mt-1">
                    <p class="text-slate-700 font-semibold w-[35%]">
                        Credit Card
                    </p>
                    <div class="w-full">
                        <p class="text-slate-600 text-[0.975rem]" id="payment-default_value">
                            <span>{% if not card.brand %}No card on file{% else %}{{ card.brand }} &#8226;&#8226;&#8226;&#8226; {{ card.last_4 }}{% endif %}</span>
                            {% if card.brand %}
                            <br />
                            <span class="text-slate-400 text-[0.85rem]">Expires {{ card.exp_date }}</span>
                            {% endif %}
                        </p>
                        <input id="cardholder-name" type="text">
                        <form id="payment-form" class="form-box hidden" data-secret="{{ client_secret }}">
                            <div class="col-span-2">
                                <div id="card-element" class="input-box">
                                    <!-- Elements will create input elements here -->
                                  </div>
                                
                                  <!-- We'll put the error messages in this element -->
                                  <div id="card-errors" role="alert"></div>
                            </div>
                            <div class="col-span-2 mt-1 flex items-center justify-start space-x-7">
                                <button type="submit" id="submit" class="btn btn-size-base btn-color-primary">
                                    <span>
                                        Update
                                    </span>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="name-loading_svg" class="bg-transparent text-white h-5 w-5 ml-2 -mr-2 hidden" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                        <circle cx="50" cy="50" r="32" stroke-width="8" stroke="currentColor" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
                                            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1.5s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
                                        </circle>
                                    </svg>
                                </button>
                                <a href="{% url 'billing' %}" class="text-slate-400 text-[0.9rem] hover:text-slate-500">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="w-[20%] flex justify-end">
                    <button type="button" id="payment-open" class="whitespace-nowrap bg-slate-100 text-slate-500 text-[0.8rem] font-medium uppercase tracking-wide py-2 px-3">
                        Update
                    </button>
                </div>
            </div>
            <div class="pt-6">
                <div class="pb-4 flex items-center justify-start">
                    <h2 class="text-[1.4rem] font-bold text-slate-700 tracking-tight">
                        Invoices
                    </h2>
                </div>
                <div class="border-2 border-slate-100 rounded">
                    <div class="flex w-full font-medium text-[0.9rem] text-slate-500 bg-slate-50 border-b-2 border-slate-100 py-1.5 px-3">
                        <div class="w-[20%] text-left table-header-cell">
                            Status
                        </div>
                        <div class="w-[45%] text-left table-header-cell">
                            Email
                        </div>
                        <div class="w-[15%] text-right table-header-cell">
                            Created
                        </div>
                        <div class="w-[20%] text-right table-header-cell">
                            
                        </div>
                    </div>
                    {% for user in users %}
                    <div class="py-3.5 px-3 text-slate-600 {% if not forloop.last %}border-b-2 border-slate-100{% endif %}">
                        <div class="flex items-center">
                            <div class="w-[20%] text-left table-body-cell">
                                {% if user.is_active %}
                                <p class="bg-[#d1fae5] px-2 py-0.5 rounded-sm text-teal-700 text-[0.875rem] inline-flex">
                                    Active
                                </p>
                                {% else %}
                                <p class="bg-[#fef3c7] px-2 py-0.5 rounded-sm text-[#92400e] text-[0.875rem] inline-flex">
                                    Pending
                                </p>
                                {% endif %}
                            </div>
                            <div class="w-[45%] text-left table-body-cell">
                                <p class="text-[0.975rem]">
                                    <span>{{ user.email }}</span>
                                    {% if user.pk == request.user.pk %}
                                    <span class="text-slate-400 text-[0.85rem]">&nbsp;(You)</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="w-[15%] text-right table-body-cell">
                                <p class="text-[0.975rem]">
                                    Dec 13, 2022
                                </p>
                            </div>
                            <div class="w-[20%] text-right table-body-cell">
                                {% if user.pk != request.user.pk %}
                                <button id="user_{{ user.pk }}_{{ user.email }}" class="pr-1.5">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="text-slate-400 hover:text-slate-500 w-5 h-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <line x1="4" y1="7" x2="20" y2="7"></line>
                                        <line x1="10" y1="11" x2="10" y2="17"></line>
                                        <line x1="14" y1="11" x2="14" y2="17"></line>
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                     </svg>
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
</div>
<script nonce="{{request.csp_nonce}}">
    const getEl = id => document.getElementById(id);

    // Set your publishable key: remember to change this to your live publishable key in production
    // Stripe
    const stripe = Stripe('pk_test_51KlEdaD47P4Qx7Wsvy9NQF1FXDhZaiP6YFDcf4THbA64j1idI03gEwXq8rCKRcquM1qWDDbf3lTp5ryuDJ3vZLDE00yDjtQVDz');
    const elements = stripe.elements();

    const options = {
        hidePostalCode: false,
        style: {
            base: {
                color: '#334155',
                fontWeight: '500',
                fontFamily: 'Inter, system-ui, sans-serif',
                fontSize: '15px',
                fontSmoothing: 'antialiased',
                '::placeholder': {
                    color: '#94a3b8',
                } 
            }
        }
    }

    const cardElement = elements.create("card", options);
    cardElement.mount("#card-element");

    cardElement.on('change', ({error}) => {
        let displayError = getEl('card-errors');
        if (error) {
            displayError.textContent = error.message;
        } else {
            displayError.textContent = '';
        }
    });


    /************************/
    /** FORM - Payment Form **/
    /************************/
    const cardholderName = getEl('cardholder-name');
    const paymentForm = getEl('payment-form');
    const paymentOpen = getEl('payment-open');
    const paymentDefaultValue = getEl('payment-default_value');
    const clientSecret = paymentForm.dataset.secret;

    paymentOpen.addEventListener('click', event => {
        paymentOpen.classList.add('hidden');
        paymentForm.classList.remove('hidden');
        paymentDefaultValue.classList.add('hidden');
    });

    paymentForm.addEventListener('submit', async (ev) => {
        ev.preventDefault();
        const {setupIntent, error} = await stripe.confirmCardSetup(
            clientSecret,
            {
            payment_method: {
                card: cardElement,
                billing_details: {
                    name: cardholderName.value,
                },
            },
            }
        );

        if (error) {
            // Display error.message in your UI.
        } else {
            if (setupIntent.status === 'succeeded') {
                console.log('success');
            // The setup has succeeded. Display a success message. Send
            // setupIntent.payment_method to your server to save the card to a Customer
            }
        }
    });

    /************************/
    /** Message Notification **/
    /************************/
    {% if messages %}
    getEl('close_message').addEventListener('click', event => {
        getEl('message-notification').classList.add('hidden');
    });
    {% endif %}
</script>
{% endblock %}