{% extends "base.html" %}

{% block title %}Dashboard - Django App{% endblock %}

{% block content %}
<div class="h-screen flex">
    {% include 'modules/nav.html' %}
    <main class="h-full w-full overflow-y-scroll bg-white">
        <section class="max-w-screen-lg mx-auto pt-[4.5rem] pb-20 px-6 relative">
            {% if messages %}
            {% for message in messages %}
            {% if message.level == 25 %}
            <div id="message-notification" class="absolute top-0 left-0 mt-3 px-6 w-1/2">
                <div class="bg-teal-50 text-teal-700 font-[0.975rem] border border-teal-500 p-2.5 text-[0.95rem] tracking-[0.01rem] rounded">
                    <div class="flex items-center justify-between w-full">
                        <div class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-teal-600 w-5 h-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="9"></circle>
                                <path d="M9 12l2 2l4 -4"></path>
                            </svg>
                            <span>
                                {{ message }}
                            </span>
                        </div>
                        <button id="close_message">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-[1.125rem] w-[1.125rem] text-teal-600 hover:text-teal-800" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="pb-7 flex items-center space-x-3">
                <div class="bg-slate-100 inline-flex p-2 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-slate-800 h-6 w-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                </div>
                <h1>
                    Settings
                </h1>
            </div>
            <div class="nav-secondary-bar">
                <a href="{% url 'dashboard' %}" class="nav-secondary-link {% if 'profile' in request.path %}nav-secondary-link-active{% else %}nav-secondary-link-inactive{% endif %}">
                    Profile
                </a>
                <a href="{% url 'users' %}" class="nav-secondary-link {% if 'users' in request.path %}nav-secondary-link-active{% else %}nav-secondary-link-inactive{% endif %}">
                    Users
                </a>
                <a href="#" class="nav-secondary-link {% if 'billing' in request.path %}nav-secondary-link-active{% else %}nav-secondary-link-inactive{% endif %}">
                    Billing
                </a>
            </div>
            <div class="pt-6">
                <div class="pb-4 flex items-center justify-between">
                    <h2 class="text-2xl font-bold text-slate-700 tracking-tight">
                        Users
                    </h2>
                    <button id="add_user-open" class="whitespace-nowrap bg-slate-100 text-slate-500 hover:bg-slate-200 hover:text-slate-600 text-[0.8rem] font-medium uppercase tracking-wide py-2 px-3">
                        Add User
                    </button>
                </div>
                <div class="border-2 border-slate-100 rounded">
                    <div class="flex w-full font-medium text-[0.9rem] text-slate-500 bg-slate-50 border-b-2 border-slate-100 py-1.5 px-3">
                        <div class="w-[20%] text-left table-header-cell">
                            Status
                        </div>
                        <div class="w-[45%] text-left table-header-cell">
                            Email
                        </div>
                        <div class="w-[15%] text-right table-header-cell">
                            Created
                        </div>
                        <div class="w-[20%] text-right table-header-cell">
                            
                        </div>
                    </div>
                    {% for user in users %}
                    <div class="py-3.5 px-3 text-slate-600 {% if not forloop.last %}border-b-2 border-slate-100{% endif %}">
                        <div class="flex items-center">
                            <div class="w-[20%] text-left table-body-cell">
                                {% if user.is_active %}
                                <p class="bg-[#d1fae5] px-2 py-0.5 rounded-sm text-teal-700 text-[0.875rem] inline-flex">
                                    Active
                                </p>
                                {% else %}
                                <p class="bg-[#fef3c7] px-2 py-0.5 rounded-sm text-[#92400e] text-[0.875rem] inline-flex">
                                    Pending
                                </p>
                                {% endif %}
                            </div>
                            <div class="w-[45%] text-left table-body-cell">
                                <p class="text-[0.975rem]">
                                    <span>{{ user.email }}</span>
                                    {% if user.pk == request.user.pk %}
                                    <span class="text-slate-400 text-[0.85rem]">&nbsp;(You)</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="w-[15%] text-right table-body-cell">
                                <p class="text-[0.975rem]">
                                    Dec 13, 2022
                                </p>
                            </div>
                            <div class="w-[20%] text-right table-body-cell">
                                {% if user.pk != request.user.pk %}
                                <button id="user_{{ user.pk }}_{{ user.email }}" class="pr-1.5">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="text-slate-400 hover:text-slate-500 w-5 h-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <line x1="4" y1="7" x2="20" y2="7"></line>
                                        <line x1="10" y1="11" x2="10" y2="17"></line>
                                        <line x1="14" y1="11" x2="14" y2="17"></line>
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                     </svg>
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!----------------------------------->
		<!-- Modals -->
		<!----------------------------------->
		<div id="popup_bg" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"></div>
		<!-- Add User Modal -->
		<div id="add_user-popup" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-3/4 z-50">
			<div class="relative max-w-screen-sm h-auto">
				<div class="relative container-box rounded-md">
                    <div class="p-3">
                        <div class="absolute right-0 top-0 p-4">
                            <a href="{% url 'users' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-slate-400 hover:text-slate-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </a>
                        </div>
                        <div>
                            <h3 class="text-2xl font-semibold text-slate-700 text-center">
                                Add User
                            </h3>
                            <p class="text-slate-500 mt-2 px-24 text-center">
                                Allow other users access to this account
                            </p>
                        </div>
                        <form method="post" id="add_user-form" class="form-box mt-6" autocomplete="off">
                            {% csrf_token %}
                            <div class="col-span-2">
                                <div class="flex flex-col input-spacing">
                                    <label for="{{ form.email.id_for_label }}" class="input-label">
                                        Email
                                    </label>
                                    <input type="text" name="email" id="email" value="" class="input-box {% if form.email.errors %}border-red-500{% else %}border-slate-200{% endif %}" required>
                                    {% if form.email.errors %}
                                    {% for error in form.email.errors %}
                                    <p id="email-error" class="input-error-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="input-error-svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 9v2m0 4v.01"></path>
                                            <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
                                        </svg>
                                        <span>
                                            {{ error }}
                                        </span>
                                    </p>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-span-2 mt-2 flex items-center justify-center">
                                <button type="submit" id="add_user-submit" disabled="true" class="btn btn-size-base btn-color-primary btn-disabled">
                                    <span>
                                        Add User
                                    </span>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="add_user-loading_svg" class="bg-transparent text-white h-5 w-5 ml-2 -mr-2 hidden" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                        <circle cx="50" cy="50" r="32" stroke-width="8" stroke="currentColor" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
                                            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1.5s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
                                        </circle>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
				</div>
			</div>
		</div>
        <!-- Delete User Modal -->
		<div id="delete_user-popup" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-3/4 z-50">
			<div class="relative max-w-screen-md h-auto">
				<div class="relative container-box rounded-md">
                    <div class="p-3">
                        <div class="absolute right-0 top-0 p-4">
                            <a href="{% url 'users' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-slate-400 hover:text-slate-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </a>
                        </div>
                        <div class="text-center">
                            <h3 class="text-2xl font-semibold text-slate-700">
                                Delete User
                            </h3>
                            <p class="mt-4 text-slate-500">
                                <span>Are you sure you would like to delete&nbsp;</span>
                                <span class="font-semibold text-slate-600" id="delete_user_email"></span>
                                <span>?</span>
                            </p>
                            <p class="mt-1.5 text-slate-500">
                                Deleted user data cannot be recovered.
                            </p>
                        </div>
                        <form method="post" id="delete_user-form" class="form-box mt-6" autocomplete="off">
                            {% csrf_token %}
                            <div class="hidden">
                                <input type="text" name="delete_user_id" id="delete_user_id" value="" required>
                            </div>
                            <div class="col-span-2 mt-2 flex items-center justify-center">
                                <button type="submit" id="delete_user-submit" class="btn btn-size-base btn-color-red">
                                    <span>
                                        Delete User
                                    </span>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="delete_user-loading_svg" class="bg-transparent text-white h-5 w-5 ml-2 -mr-2 hidden" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                        <circle cx="50" cy="50" r="32" stroke-width="8" stroke="currentColor" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
                                            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1.5s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
                                        </circle>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
				</div>
			</div>
		</div>
    </main>
</div>
<script nonce="{{request.csp_nonce}}">
    const getEl = id => document.getElementById(id);
    const popupBackground = getEl('popup_bg');
    /************************/
    /** FORM - Add User **/
    /************************/
    const addUserForm = getEl('add_user-form');
    const addUserPopup = getEl('add_user-popup');
    const addUserOpen = getEl('add_user-open');
    const addUserSubmit = getEl('add_user-submit');

    addUserOpen.addEventListener('click', event => {
        popupBackground.classList.remove('hidden');
        addUserPopup.classList.remove('hidden');
    });

    addUserForm.addEventListener('submit', event => {
        addUserForm.removeEventListener('keyup', addUserFormKeyup);
        addUserSubmit.classList.add('btn-disabled');
        addUserSubmit.disabled = true;
        getEl('add_user-loading_svg').classList.remove('hidden');
    });

    {% if form.email.errors %}
    popupBackground.classList.remove('hidden');
    addUserPopup.classList.remove('hidden');
    addUserSubmit.classList.remove('btn-disabled');
    addUserSubmit.disabled = false;

    getEl('email').addEventListener("focus", function () {
        getEl('email-error').classList.add('hidden');
        this.classList.remove('border-red-500');
        this.classList.add('border-slate-200');
    });

    {% endif %}

    addUserForm.addEventListener('keyup', addUserFormKeyup);
    function addUserFormKeyup(event) {
        const email = getEl('email');
        const emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9]+[.]+[a-zA-Z0-9]+$/

        if (emailRegex.test(email.value)) {
            addUserSubmit.classList.remove('btn-disabled');
            addUserSubmit.disabled = false;
        } else {
            addUserSubmit.classList.add('btn-disabled');
            addUserSubmit.disabled = true;
        };
    };

    /************************/
    /** FORM - Delete User **/
    /************************/
    const deleteUserPopup = getEl('delete_user-popup');
    const deleteUserForm = getEl('delete_user-form');
    const deleteUserSubmit = getEl('delete_user-submit');
    const users = document.querySelectorAll("[id^='user_']");

    for (let i = 0; i < users.length; i++) {
        users[i].addEventListener('click', event => {
            popupBackground.classList.remove('hidden');
            deleteUserPopup.classList.remove('hidden');

            let user = users[i].id;
            let parts = user.split("_", 3);
            let deleteUserID = parts[1];
            let deleteUserEmail = parts[2];

            getEl('delete_user_id').value = deleteUserID;
            getEl('delete_user_email').innerHTML = deleteUserEmail;
        });
    };

    deleteUserForm.addEventListener('submit', event => {
        deleteUserSubmit.classList.add('btn-disabled');
        deleteUserSubmit.disabled = true;
        getEl('delete_user-loading_svg').classList.remove('hidden');
    });

    /************************/
    /** Message Notification **/
    /************************/
    {% if messages %}
    getEl('close_message').addEventListener('click', event => {
        getEl('message-notification').classList.add('hidden');
    });
    {% endif %}
</script>
{% endblock %}