<aside class="sticky w-[16rem] bg-[#102a43]">
    <div class="flex flex-col justify-between h-full px-2">
        <div class="pt-6">
            <p class="mb-12 flex items-center justify-start space-x-1.5 px-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-[#3399ff]" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 18a1.93 1.93 0 0 0 .306 1.076a2 2 0 0 0 1.584 .924c.646 .033 -.537 0 .11 0h3a4.992 4.992 0 0 0 -3.66 -4.81c.558 -.973 1.24 -2.149 2.04 -3.531a8.997 8.997 0 0 1 5.62 8.341h4c.663 0 2.337 .005 3 0a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-1.84 3.176c4.482 2.05 7.6 6.571 7.6 11.824"></path>
                 </svg>
                 <span class="font-bold text-2xl mt-0.5 text-slate-50">
                    Django
                 </span>
            </p>
            <nav class="space-y-4">
                <div class="space-y-4">
                    <a href="{% url 'logout' %}" class="nav-link {% if 'dashboard' in request.path %}nav-link-active{% else %}nav-link-inactive group {% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon {% if 'dashboard' in request.path %}nav-icon-active{% else %}nav-icon-inactive{% endif %}" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 4h6v8h-6z"></path>
                            <path d="M4 16h6v4h-6z"></path>
                            <path d="M14 12h6v8h-6z"></path>
                            <path d="M14 4h6v4h-6z"></path>
                        </svg>
                        <span>
                            Dashboard
                        </span>
                    </a>
                </div>
                <div class="border-b border-[#486581]"></div>
                <div class="space-y-4">
                    <a href="{% url 'dashboard' %}" class="nav-link {% if 'settings' in request.path %}nav-link-active{% else %}nav-link-inactive group {% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon {% if 'settings' in request.path %}nav-icon-active{% else %}nav-icon-inactive{% endif %}" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                            <circle cx="12" cy="12" r="3"></circle>
                         </svg>
                        <span>
                            Settings
                        </span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="pb-6">
            <a href="{% url 'logout' %}"
                class="flex items-center space-x-3 px-4 py-1 text-slate-200 font-medium hover:text-white group text-base">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-slate-200 w-[1.35rem] h-[1.35rem] group-hover:text-[#3399ff]" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" fill="none">
                    <g transform="matrix(-1,0,0,1,24,0)">
                        <path d="M14,8L14,6C14,4.903 13.097,4 12,4L5,4C3.903,4 3,4.903 3,6L3,18C3,19.097 3.903,20 5,20L12,20C13.097,20 14,19.097 14,18L14,16" />
                    </g>
                    <g transform="matrix(-1,0,0,1,24,0)">
                        <path d="M7,12L21,12L18,9M18,15L21,12" />
                    </g>
                </svg>
                <span>
                    Logout
                </span>
            </a>
        </div>
    </div>
</aside>