<div class="nav-secondary-bar">
    {% if request.user.role == 'Administrator' %}
    <a href="{% url 'company' %}" class="nav-secondary-link {% if 'company' in request.path %}nav-secondary-link-active{% else %}nav-secondary-link-inactive{% endif %}">
        Company
    </a>
    {% endif %}
    <a href="{% url 'profile' %}" class="nav-secondary-link {% if 'profile' in request.path %}nav-secondary-link-active{% else %}nav-secondary-link-inactive{% endif %}">
        Profile
    </a>
    <a href="{% url 'users' %}" class="nav-secondary-link {% if 'users' in request.path %}nav-secondary-link-active{% else %}nav-secondary-link-inactive{% endif %}">
        Users
    </a>
    <a href="{% url 'billing' %}" class="nav-secondary-link nav-secondary-link-inactive">
        <div class="flex items-center space-x-1">
            <span>
                Billing
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path>
                <path d="M10 14l10 -10"></path>
                <path d="M15 4l5 0l0 5"></path>
             </svg>
        </div>
    </a>
</div>