{% extends "base.html" %}

{% block title %}Dashboard - Django App{% endblock %}

{% block content %}
<div class="h-screen flex">
	{% include 'modules/nav.html' %}
	<main class="h-full w-full overflow-y-scroll bg-primary-50">
		<section class="px-4 max-w-screen-lg mx-auto pt-16 pb-20">
			<div class="pb-4 flex items-center justify-between">
				<h1 class="text-4xl font-bold text-slate-800 tracking-tight">
					Users
				</h1>
				<button onclick="openAddUserPopup()" class="px-5 py-1.5 border-2 border-emerald-500 bg-emerald-500 text-white font-medium inline-flex items-center justify-center space-x-2">
					<svg xmlns="http://www.w3.org/2000/svg" class="text-inherit w-5 h-5 -ml-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<line x1="12" y1="5" x2="12" y2="19"></line>
						<line x1="5" y1="12" x2="19" y2="12"></line>
					</svg>
					<span>Add User</span>
				</button>
			</div>
			<div class="container-box">
				<div class="flex w-full font-medium text-[0.9rem] text-slate-700 border-b-2 border-slate-100 pb-1.5 mb-3">
					<div class="w-[14%] text-left table-header-cell">
						Status
					</div>
					<div class="w-[24%] text-left table-header-cell">
						Name
					</div>
					<div class="w-[32%] text-left table-header-cell">
						Email
					</div>
					<div class="w-[15%] text-right table-header-cell">
						Created
					</div>
					<div class="w-[15%] text-right table-header-cell">
						Actions
					</div>
				</div>
				{% for user in users %}
				<div class="-mx-8 py-3.5 text-slate-700 {% cycle '' 'bg-slate-50' %}">
					<div class="px-8 flex items-center">
						<div class="w-[14%] text-left table-body-cell">
							{% if user.is_active %}
							<p class="bg-[#d1fae5] px-2 py-0.5 rounded-none text-[#065f46] text-[0.9rem] font-medium inline-flex">
								Active
							</p>
							{% else %}
							<p class="bg-[#fef3c7] px-2 py-0.5 rounded-none text-[#92400e] text-[0.9rem] font-medium inline-flex">
								Pending
							</p>
							{% endif %}
						</div>
						<div class="w-[24%] text-left table-body-cell">
							<p>
								{{ user.first_name }} {{ user.last_name }}
							</p>
						</div>
						<div class="w-[32%] text-left table-body-cell">
							<p>
								{{ user.email }}
							</p>
						</div>
						<div class="w-[15%] text-right table-body-cell">
							<p>
								Dec 13, 2022
							</p>
						</div>
						<div class="w-[15%] text-right table-body-cell">
							<button {% if user.pk != request.user.pk %}onclick="openDeleteUserPopup(event)"{% endif %} id="{% if user.pk != request.user.pk %}{{ user.pk }}_{{ user.email }}{% endif %}" class="px-2.5 py-1 text-[0.9rem] border-[1.5px] {% if user.pk != request.user.pk %}border-primary-300 text-primary-600 hover:bg-slate-100 hover:text-primary-800{% else %}border-slate-300 bg-slate-50 text-slate-300 cursor-default{% endif %}">
								Delete
							</button>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>
		<!----------------------------------->
		<!-- Modals -->
		<!----------------------------------->
		<div class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="popup-bg">
		</div>
		<!-- Add User Modal -->
		<div id="add_user-popup" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-3/4 z-50">
			<div class="relative max-w-screen-md h-auto">
				<div class="relative container-box">
					<div class="absolute right-0 top-0 p-3">
						<button onclick="closeAddUserPopup()">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary-300 hover:text-primary-600" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<line x1="18" y1="6" x2="6" y2="18"></line>
								<line x1="6" y1="6" x2="18" y2="18"></line>
							</svg>
						</button>
					</div>
					<div>
						<h3 class="text-2xl font-semibold text-slate-700 text-center tracking-tight">
							Add User
						</h3>
						<p class="text-slate-600 mt-2 px-24 text-center">
							Allow other users access to this account.
						</p>
					</div>
					<form method="post" id="add_user-form" class="form-box mt-6" autocomplete="off">
						{% csrf_token %}
						<div class="col-span-1">
							<div class="flex flex-col input-spacing">
								<label for="{{ form.first_name.id_for_label }}" class="input-label">
									First Name
								</label>
								<input type="text" name="first_name" id="first-name" value="" class="input-box {% if form.first_name.errors %}border-red-500{% else %}border-primary-200{% endif %}" required>
							</div>
						</div>
						<div class="col-span-1">
							<div class="flex flex-col input-spacing">
								<label for="{{ form.last_name.id_for_label }}" class="input-label">
									Last Name
								</label>
								<input type="text" name="last_name" id="last-name" value="" class="input-box {% if form.last_name.errors %}border-red-500{% else %}border-primary-200{% endif %}" required>
							</div>
						</div>
						<div class="col-span-2">
							<div class="flex flex-col input-spacing">
								<label for="{{ form.email.id_for_label }}" class="input-label">
									Email
								</label>
								<input type="text" name="email" id="email" value="" class="input-box {% if form.email.errors %}border-red-500{% else %}border-primary-200{% endif %}" required>
								<div id="form-errors">
									{% if form.email.errors %}
									{% for error in form.email.errors %}
									<p class="text-sm text-red-500 tracking-wide inline-flex items-center space-x-2">
										<svg xmlns="http://www.w3.org/2000/svg" class="text-red-500 h-5 w-5 mt-0.5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
											<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
											<path d="M12 9v2m0 4v.01"></path>
											<path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75">
											</path>
										</svg>
										<span>{{ error }}</span>
									</p>
									{% endfor %}
									{% endif %}
								</div>
							</div>
						</div>
						<div class="col-span-2 my-2 flex items-center justify-center">
							<button type="submit" id="add_user-submit" disabled="true" class="w-48 py-2 border-2 border-emerald-500 bg-emerald-500 text-white font-medium inline-flex items-center justify-center opacity-60">
								<svg xmlns="http://www.w3.org/2000/svg" id="add_user-loading_svg" class="bg-transparent text-white h-5 w-5 -ml-2 mr-2 hidden" style="shape-rendering: auto;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
									<circle cx="50" cy="50" r="32" stroke-width="8" stroke="currentColor" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
										<animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1.5s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
									</circle>
								</svg>
								<span>Add User</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Delete User Modal -->
		<div id="delete_user-popup" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-3/4 z-50">
			<div class="relative max-w-screen-md h-auto">
				<div class="relative container-box">
					<div class="absolute right-0 top-0 p-3">
						<button onclick="closeDeleteUserPopup()">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary-300 hover:text-primary-600" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<line x1="18" y1="6" x2="6" y2="18"></line>
								<line x1="6" y1="6" x2="18" y2="18"></line>
							</svg>
						</button>
					</div>
					<div class="text-center">
						<h3 class="text-2xl font-semibold text-slate-700 tracking-tight">
							Delete User
						</h3>
						<p class="mt-4 text-slate-600">
							<span>Are you sure you would like to delete&nbsp;</span><span class="font-semibold" id="delete_user_email"></span><span>?</span>
						</p>
						<p class="mt-1.5 text-slate-600">
							Deleted user data cannot be recovered.
						</p>
					</div>
					<form method="post" id="delete_user-form" action="/users/delete" class="form-box mt-6" autocomplete="off">
						{% csrf_token %}
						<div class="hidden">
							<input type="text" name="delete_user_id" id="delete_user_id" value="" required>
						</div>
						<div class="col-span-2 my-2 flex items-center justify-center">
							<button onclick="submitDeleteUserForm()" type="submit" id="delete_user-submit" class="w-48 py-2 border-2 border-red-500 bg-red-500 text-white font-medium inline-flex items-center justify-center">
								<svg xmlns="http://www.w3.org/2000/svg" id="delete_user-loading_svg" class="bg-transparent text-white h-5 w-5 -ml-2 mr-2 hidden" style="shape-rendering: auto;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
									<circle cx="50" cy="50" r="32" stroke-width="8" stroke="currentColor" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
										<animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1.5s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
									</circle>
								</svg>
								<span>Delete User</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</div>
<script>
	/** Set global variables **/
	const popupBackground = document.getElementById('popup-bg');

	/** Add User Popup **/
	const addUserPopup = document.getElementById('add_user-popup');

	const formErrors = document.getElementById('form-errors');
	const emailInput = document.getElementById('email');

	{% if form.email.errors %}
	popupBackground.classList.remove('hidden');
	addUserPopup.classList.remove('hidden');
	{% endif %}

	function openAddUserPopup() {
		popupBackground.classList.remove('hidden');
		addUserPopup.classList.remove('hidden');
	};

	function closeAddUserPopup() {
		popupBackground.classList.add('hidden');
		addUserPopup.classList.add('hidden');
		formErrors.classList.add('hidden');
		emailInput.classList.remove('border-red-500');
		emailInput.classList.add('border-primary-200');
	};

	/** Delete User Popup **/
	const deleteUserPopup = document.getElementById('delete_user-popup');

	function openDeleteUserPopup(event) {
		popupBackground.classList.remove('hidden');
		deleteUserPopup.classList.remove('hidden');

		let str = event.target.id;
		let parts = str.split("_", 2);

		let deleteUserID = parts[0];
		let deleteUserEmail = parts[1];

		document.getElementById('delete_user_id').value = deleteUserID;
		document.getElementById('delete_user_email').innerHTML = deleteUserEmail;
	};

	function closeDeleteUserPopup() {
		popupBackground.classList.add('hidden');
		deleteUserPopup.classList.add('hidden');
	};

	function submitDeleteUserForm() {
		document.getElementById('delete_user-loading_svg').classList.remove("hidden");
		document.getElementById('delete_user-submit').classList.add('opacity-60');
		document.getElementById('delete_user-submit').disabled = true;
	};
</script>
<script>
	const form = document.getElementById('add_user-form');
	const button = document.getElementById('add_user-submit');
	let isFormSubmited = false;

	const firstName = document.getElementById('first-name');
	const lastName = document.getElementById('last-name');
	const email = document.getElementById('email');
	const emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9]+[.]+[a-zA-Z0-9]+$/

	form.addEventListener('submit', submitFunction);
	form.addEventListener('keyup', keyupFunction);

	function keyupFunction() {
		if (!isFormSubmited) {
			if (firstName.value.length > 0 && lastName.value.length > 0 && emailRegex.test(email.value)) {
				button.disabled = false;
				button.classList.remove('opacity-60');
			} else {
				button.disabled = true;
				button.classList.add('opacity-60');
			};
		};
	};

	function submitFunction() {
		isFormSubmited = true;
		const loadingSVG = document.getElementById("add_user-loading_svg");

		button.disabled = true;
		button.classList.add("opacity-60");
		loadingSVG.classList.remove("hidden");
	};
</script>
{% endblock %}